h1{
    font-size:6rem;
    color:#34BE82;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
body
{
    background-color:#2C272E;
}
.dice{

     float: left;
     width:15%;
     padding-left:13%;
     margin-left:10%;

}
p{
    font-size: 3rem;
    color: #34BE82;
    font-weight: bold;
   font-family: 'Sacramento', cursive;
}
#footer{
padding:25% 30%;

color: white;
font-size: 1.2rem;
text-align: center;
}
.img1,.img2{
    width: 256px;
}